[submodule "Externals/Nimble"]
	path = Externals/Nimble
	url = https://github.com/Quick/Nimble
[submodule "Externals/Fleet"]
	path = Externals/Fleet
	url = https://github.com/jwfriese/Fleet
[submodule "Externals/Quick"]
	path = Externals/Quick
	url = https://github.com/Quick/Quick
